  <div class="community-background">
    <% if @community.community_image.attached? %>
      <%= image_tag @community.community_image %>
    <% end %>
  </div>
  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>
  <div class="community-main">
    <div class="all-articles">
      <div class="articles-for-beginner">
        <div class="section-title">チュートリアル</div>
        <div class="articles-section-list">
          <div class="alt-text">Comming soon...</div>
        </div>
      </div>
      <div class="articles-for-intermediate">
        <div class="section-title">みんなのルール</div>
        <div class="articles-section-list">
          <div class="alt-text">Comming soon...</div>
        </div>
      </div>
      <div class="articles-for-expert">
        <div class="section-title">数字から学ぶパートナーとの円満</div>
        <div class="articles-section-list">
          <div class="alt-text">Comming soon...</div>
        </div>
      </div>
    </div>
  </div>