  <p class="page-title"><%= @user.user.name %>のマイページ</p>

  <div>
    <%= link_to "コミュニティTopへ", community_path(@community.id) %>
  </div>

  <!-- attachment_image_tag @user.user, profile_image, fill, 60, 60, format:'jpeg' -->