  <div class="home-all">
    <div class="home-header">
      <div class="home-header-logo">Gachiru.</div>
      <div class="home-header-description">夫婦・カップルの対話を活性化させるルール管理ツール</div>
    </div>

    <div class="home-main">
      <p>
        いつからだろう。<br>
        自分のプライドが邪魔をして、相手への甘えが出て、<br>
        悪いと分かっていても、適切なコミュニケーションを取れずにいる。<br>
        <br>
        関係を改善したいけど、<br>
        直接話し合うのは照れくさいし、建設的な話ができるだろうか。<br>
        <br>
        Gachiru.はパートナーと共にゴールやルールを管理するツールです。<br>
        共通のゴールは結束力を高め、パートナーは補い合うべき仲間になるでしょう。<br>
        ルール決定に向けた対話は互いの理解を深め、不満は減っていくでしょう。<br>
        <br>
        さあ、Gachiru.を使って、<br>
        「感情に左右されない快適なパートナーシップ」を築きましょう。
      </p>
    </div>
  </div>