  <div class="home-all">
    <div class="home-header">
      <div class="home-header-catchphrase">価値観の違いを乗り越える</div>
      <div class="home-header-logo">COLOK</div>
      <div class="home-header-discription">夫婦・カップルの対話を活性化させるルール管理ツール「COLOK」</div>
    </div>

    <div class="home-main">
      <p>
        夫婦、カップル、友達、あなたがを取り巻くプライベートなコミュニティは危うい。<br>
        契約もなければ、利害関係もない。だから一度壊れれば修復は難しい。<br>
        <br>
        そんなコミュニティが長く円満を保つために必要な<br>
        共通のゴール設定、それを達成するルール設計をサポートします。<br>
      </p>
    </div>
  </div>