  <h1 class="home-title">
    <b>COLABO</b><br>
    価値観の違いを武器にする</h1>
  <h3 class="home-subtitle">対話を活性化させる最高のコミュニティ管理ツール</h3>

  <p>
    夫婦、カップル、友達、あなたがを取り巻くプライベートなコミュニティは危うい。<br>
    契約もなければ、利害関係もない。だから一度壊れれば修復は難しい。<br>
    <br>
    そんなコミュニティが長く円満を保つために必要な<br>
    共通のゴール設定、それを達成するルール設計をサポートします。<br>
  </p>
