  <div class="community-info">
    <%= render 'communities/info', community: @community, currentUser: @currentUser %>
  </div>

  <div class="community-main">
    <p class="page-title">役割新規作成</p>
    <div class="comment">
      <p>
        <b>制定ポイント</b><br>
        ゴール達成を意識して、自分が担うべき役割を考えましょう。<br>
      </p>
    </div>
    <div>
      <%= form_with(model: [@community, @user, @role], local: true) do |f| %>
        <div>
          <%= f.text_area :content, placeholder: "このコミュニティにおけるあなたの役割" %>
        </div>
        <div>
          <%= f.submit '作成' %>
        </div>
      <% end %>
    </div>
  </div>