  <h1>罰編集</h1>

    <%= form_with(model:[@community, @penalty], local:true) do |f| %>
    <p>罰</p>
    <%= f.text_area :content %>
    <p>罰を受けることで回復するポイント</p>
    <%= f.text_area :point %>
    <%= f.submit "編集完了" %>
  <% end %>