  <h2>ペナルティ編集</h2>

    <%= form_with(model:[@community, @penalty], local:true) do |f| %>
    <p>ペナルティ内容</p>
    <%= f.text_area :content %>
    <p>ペナルティを受けることで回復するポイント</p>
    <%= f.text_area :point %>
    <%= f.submit "編集完了" %>
  <% end %>