/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*サイト全体*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ""; ※全角半角でズレたりしない適切なフォントを選ぶ*/
  background: linear-gradient(160deg, #07868c, #44c48a);
  overflow-x: hidden; /* 画面外の要素を非表示にできる(slide-menu非表示) */
  height: 100vh;
}

a { /*リンク部*/
  color: inherit; /*リンク文字の色変更させない*/
  text-decoration:none;
  /* border-bottom: dotted 1px; ※リンク下にドット線*/
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a:hover {
  color: inherit; /*リンク文字の色変更させない*/
  text-decoration:none;
  /* border-bottom: dotted 1px; /*リンク下にドット線*/
  font-weight: bold;
}

.alt-text {
  padding: 16px;
  text-align: center;
  font-size: 80%;
}

.page-title {
  height: 24px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 120%;
}

.section-title {
  height: 16px;
  line-height: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 16px;
}

/*ヘッダー部*/
header {
  background-color: #ffffff;
}

.header-area {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  z-index: 1001;
}

.site-logo {
  margin-left: 8px;
  margin-top: 8px;
}

.site-concept {
  height: 16px;
  margin-top: 26px;
  margin-left: 8px;
  font-size: 80%;
  font-weight: bold;
  color: #44c48a;
}

.sign-in-user {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 4px;
  padding: 6px;
  z-index: 1003;
}

.sign-in-user-profile-image-cta {
  border-radius: 32px;
}

.sign-in-user-profile-image-cta:hover {
  border: 3px solid #44c48a;
  position: relative;
  bottom: 3px;
  left: 3px;
  z-index: 1004;
}

.notification-on-picture {
  position: fixed;
  top: 8px;
  right: 38px;
  z-index: 1005;
}

.slide-menu {
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  right: -220px;
  width: 220px;
  padding-top: 60px;
  height: 100%;
  text-align: right;
  z-index: 1002;
  transition: all 0.3s ease-in-out; /* スライドアニメーションを設定 */
}

.show-menu {
  right: 0; /* スライドして表示される位置 */
}

.slide-menu-user-name {
  padding-right: 10px;
  font-weight: bold;
}

.slide-menu-list {
  padding-left: 0;
  padding-right: 10px;
  font-size: 80%;
}

main {
  box-sizing: border-box;
  font-size: 80%;
  color: #ffffff; /*文字白*/
  text-decoration: none;
  position: relative;
  top: 56px; /* header-areaの高さに合わせる。 */
  height: calc(100% - 56px); /* header-areaの高さを引く。 */
  width: 100%;
}

.community-background img {
  position: fixed;
  top: 56px; /*header-areaのheightとpaddingの合計の高さに合わせる*/
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.community-info {
  background-color: rgba(32, 35, 43, 0.9);
  border-bottom: 1px solid rgba(68, 196, 138, 0.3);
  position: fixed;
  top: 56px; /*header-areaのheightとpaddingの合計の高さに合わせる*/
  height: 32px;
  width: 100%;
  z-index: 10;
}

.community-main {
  position: fixed;
  top: 88px; /*headher-areaとcommunity-infoのtopとheightの合計*/
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 88px);
}

.comment {
  margin-top: 2px;
  font-size: 80%;
}

.comment:hover {
  color: #44c48a;
  font-weight: bold;
}

.comment-content {
  display: none; /* 初期状態では非表示 */
  color: #ffffff;
}

.notes {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 2px;
  font-size: 80%;
}

/*「・」を抜く*/
ul {
  list-style: none;
}

/*テーブル全体*/
table {
  border-collapse: separate;
  border-spacing: 1px 12px;
  text-align: center;
  width: 100%;
}

/*テーブルのタイトル全体*/
thead {
  font-size: 80%;
}

/*テーブルのデータ全体*/
tbody {
  color: #343842;
  background-color: #dddddd;
}

th, td {
  padding: 8px 16px;
}

/*テーブルスレッドの最左のセル*/
th:first-child, td:first-child {
  padding-left: 16px
}

/*テーブルスレッドの最右のセル*/
th:last-child, td:last-child {
  padding-right: 16px
}

/*テーブルデータの最初の行*/
tbody td:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

/*テーブルデータの最後の行*/
tbody td:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/*後々広告入れる用 */
.footer-content {
  box-sizing: content-box;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(52, 56, 66, 0.5);
  margin: 16px;
}

.form {
  width: fit-content;
  margin: 16px;
}

.form-section {
  padding: 8px 32px;
  margin: 4px 0;
  width: fit-content;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.form-label {
  font-weight: bold;
  font-size: 80%;
}

.form-area-small {
  resize: horizontal;
  width: 316px;
  height: 16px;
  padding: 2px;
  border: inherit;
  font-family: monospace;
  margin-bottom: 4px;
}

.form-area-large {
  resize: horizontal;
  width: 316px;
  height: 80px;
  padding: 2px;
  border: inherit;
  font-family: monospace;
  margin-bottom: 4px;
}

.form-check-box {
  display: flex;
}

/*チェックボックスのラベルのズレ微調整*/
.form-check-box-label {
  font-size: 80%;
  position: relative;
  bottom: 1px;
  height: 20px;
  line-height: 20px
}

.form-select-file {
  font-size: 80%;
  margin-top: 4px;
}

/*フォームタイトル横の補足欄*/
.form-note {
  background-color: #ff5757;
  font-size: 80%;
  color: #ffffff;
  margin-left: 4px;
  padding: 2px;
}

.form-note-optional {
  background-color: #848A99;
  font-size: 80%;
  color: #ffffff;
  margin-left: 4px;
  padding: 2px;
}

/* 「プラス」アイコン*/
.fa-square-plus {
  position: relative;
  top: 4px;
  right: 8px;
}

.fa-circle {
  color: #f47842;
}

.search-btn, .done-btn {
  position: relative;
  top: 1px;
  width: fit-content;
  height: 24px;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  color: #343842;
  background-color: #ffd139;
  border-style: none; /*デフォルトの枠線デザインを消去*/
  border-radius: 16px;
  font-weight: bold;
}

.search-btn:hover, .done-btn:hover {
  font-weight: bold;
  color: #343842;
  background-color: #f47842;
}

.alt-link-cta {
  display: inline-block;
  position: relative;
  top: 1px;
  background-color: #d6dbe6;
  color: #343842;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  line-height: 24px;
  margin-left: 0;
  font-weight: bold;
  border-radius: 16px;
}

.alt-link-cta:hover {
  background-color: #343842;
  color: #d6dbe6;
}

.non-decorated-link {
  margin-left: 16px;
}

textarea {
  display:block;
}

.all-error-messages {
  margin: 0;
  padding: 0;
  color: #ff5757;
  font-weight: bold;
  font-size: 80%;
}




