/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*サイト全体*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ""; ※全角半角でズレたりしない適切なフォントを選ぶ*/
  background: linear-gradient(160deg, #272727, #000000);
}

a { /*リンク部*/
  color: inherit; /*リンク文字の色変更させない*/
  text-decoration:none;
  /* border-bottom: dotted 1px; ※リンク下にドット線*/
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a:hover {
  color: inherit; /*リンク文字の色変更させない*/
  text-decoration:none;
  border-bottom: dotted 1px; /*リンク下にドット線*/
  font-weight: bold;
}

.page-title {
  margin-top: 30px;
  margin-left: 10px;
}

/*枠ごとのタイトル*/
.section-title {
  color: #a4a4a4;
  font-weight: bold;
  font-size: 80%;
  margin-top: 0;
}

/*サイトのヘッダー部*/
header {
  background-color: #ffffff;
  color: #303030;
}

.header-area {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  z-index: 1;
}

.site-logo {
  margin-top: 4px;
}

.sign-in-user {
  position: fixed;
  top: 0;
  right: 0;
  padding: 6px;
  z-index: 3;
}

.slide-menu {
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  padding-top: 60px;
  height: 250px;
  z-index: 2;
}

.slide-menu ul {
  padding-left: 0;
  padding-right: 10px
}

.slide-menu li {
  text-align: right;
}

main {
  color: #ffffff; /*文字白*/
  text-decoration: none;
  margin: 72px 20px 20px 20px; /* header-areaの高さにmargin-topを合わせる。 */
  /*最低限の高さ指定、それ以上はフレキシブル*/
  min-height:1000px;
  height:auto !important;
  height:1000px;
}

footer {
  background-color: #ffffff;
  color: #303030;
  height: 80px;
  display: flex;
}

.footer {
  margin: auto;
}

.legal-provisions, .copyrights {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

/*ヘッダーの項目から「・」を抜く*/
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 1px 12px;
  width: 100%;
}

/*テーブルのタイトル全体*/
thead {
  text-align: center;
  font-size: 70%;
}

/*テーブルのデータ全体*/
tbody {
  color: #303030;
  text-align: center;
}

/*テーブルデータの奇数行*/
tbody tr:nth-child(odd) {
  background-color: #dddddd;
}

/*テーブルデータの偶数行*/
tbody tr:nth-child(even) {
  background-color: #a4a4a5;
}

th, td {
  padding: 10px 15px;
}

th:first-child, td:first-child {
  padding-left: 15px
}

th:last-child, td:last-child {
  padding-right: 15px
}

/*テーブルデータの最初の列*/
tbody td:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

tbody td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/*セクションごとの枠*/
.round {
  border-radius: 16px;
  padding: 32px 32px;
  margin: 24px 8px;
  background-color: #303030;
}

.execute_btn {
  background-color: #ffd139;
  padding: 5px 10px;
  border-radius:  20px;
}

.execute_btn:hover {
border-bottom: inherit;
}

.point-letter {
  font-size: 80%;
}

.community-info {
  background-color: #dddddd;
  color: #303030;
  position: fixed;
  top: 0;
  height: 88px;
  width: 100%;
  margin-top: 72px;
  margin-left: -20px;
  margin-right: -20px;
}

.community-main {
  padding-top: 88px; /* community-infoのheightに合わせる。 */
}

.goal-header, .mottos-header,
.rules-header, .my-communities-header,
.all-privileges-header, .all-penalties-header,
.role-header {
  display: flex;
  justify-content: space-between;
}

.comment {
  font-size: 70%;
}

