// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles-all {
  background-color: rgba(7,134,140,0.5);
  padding: 16px;
  height: calc(100% - 32px);
}

.articles-title {
  font-weight: bold;
}

.article-1 {
  margin-top: 8px;
  height: 100px;
  background: linear-gradient(160deg, #20232B, #343842);
  border-radius: 8px;
}

.article-note {
  height: 100px;
  line-height: 100px;
  text-align: center;
}