// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles-all {
  background-color: rgba(68, 196, 138, 0.7);
  padding: 16px;
  height: calc(100% - 32px);
  color: #343842;
}

.articles-title {
  font-weight: bold;
}

.article-1 {
  margin-top: 8px;
  height: 160px;
  background: linear-gradient(160deg, #20232B, #343842);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-note {
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}