// Place all the styles related to the Communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.community-user-list {
  display: flex;
}

.community-user {
  margin: 10px;
}

.profile_image {
  border-radius: 50%;
}

.community-user-name {
  text-align: center;
  margin-top: 0;
}

//_info
.community-header {
  margin-bottom: 40px;
}

//_info
.community-navigation {
  display: flex;
  justify-content: center;
}

//_info
.community-navigation-item {
  margin: 20px;
}

//show
.community-info {
  background-color: #ffd8d3;
  color: #321e1e;
  margin: -20px;
}