// Place all the styles related to the Communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.community-info-contents {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

//_info
.community-navigation-items {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-left: 0px;
  white-space: nowrap;
  overflow: scroll;
}

//_info
.community-navigation-item {
  padding: 8px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

//_info
.community-navigation-item:hover {
  background-color: rgba(68, 196, 138, 0.5);
}

//_info
.community-navigation-link:hover {
  border-bottom: inherit;
}

//_info
.community-basic-info {
  display: flex;
  padding: 8px; //.community-navigation-itemのpaddingに合わせる。
  margin-right: 8px;
  color: #fff;
}

//_info
.community-name {
  font-weight: bold;
  color: #44c48a;
  margin-left: 4px;
}

//_info
.community-info-detail {
  font-size: 80%;
  margin-top: 3px;
  margin-left: 6px;
}

//_info
.community-detail-link {
  color: #44c48a;
}

//show 上部
.community-dashboard-top {
  box-sizing: border-box;
  width: 100%;
}

//show 下部
.community-dashboard-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}

//show 数値
.community-figures {
  width: 136px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

//show ミーティング
.community-meetings {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 8px;

}

//show モットー
.community-mottos {
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 8px;
  width: 400px;
  height: fit-content;
  margin: 16px;
}

//show メンバー、履歴
.community-users {
  background-color: rgba(68, 196, 138, 0.3);
  border-radius: 8px;
  width: 136px;
  height: fit-content;
  margin: 16px;
}

.late-activities {
  background-color: rgba(255,209,57, 0.2);
  border-radius: 8px;
  margin: 16px;
}

//show 数値
.community-figure {
  background-color: rgba(7,134,140,0.4);
  text-align: center;
  border-radius: 8px;
  margin: 8px;
}

//show 数値
.community-figure-title {
  height: 24px;
  line-height: 24px;
  background-color: #07868c;
  border-radius: 8px 8px 0 0;
}

//show 数値
.community-figure-content {
  font-size: 240%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

//show メンバー
.community-user-list {
  display: flex;
  items-align: center;
  flex-direction: column;
  white-space: nowrap;
  overflow: scroll;
  margin-top: 8px;
}

//show メンバー
.community-users-title {
  background-color: #44c48a;
  border-radius: 8px 8px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

//show メンバー
.community-user {
  margin: 8px;
}

//show メンバー
.profile_image {
  border-radius: 50%;
  text-align: center;
}

//show メンバー
.community-user-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

//show ゴール
.goal {
  text-align: center;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 8px;
  margin: 8px;
  padding: 16px;
}

//show ゴール
.goal-edit, .goal-new {
  width: fit-content;
  margin-left: auto;
  position: relative;
  left: 8px;
  bottom: 8px;
}

//show ゴール【未使用】
.goal-title {
  background-color: #343842;
  border-radius: 8px 8px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

//show ゴール
.goal-header {
  text-align: right;
}

//show ゴール
.goal-content-letters {
  font-size: 160%;
  font-weight: bold;
}

//show ゴール
.till-goal {
  color: #ffd139;
  margin-top: 32px;
}

//show ゴール
.goal-deadline-timer {
  font-size: 320%;
  font-weight: bold;
  color: #ffd139;
}

//show ゴール
p#goalCountTimer span {
  font-size: 31.25%; /* goal-deadline-timerから100%に戻す */
  font-weight: 400;
  margin-right: 8px;
}

//スローガン
.mottos-title {
  background-color: #343842;
  border-radius: 8px 8px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

//スローガン
.community-motto-box {
  text-align: center;
  padding: 16px;
}

//show スローガン
.community-mottos-edit {
  width: fit-content;
  margin-left: auto;
}

//show スローガン
.community-motto-index {
  margin-left: auto;
  margin-right: auto;
  background-color: #44c48a;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  position: relative;
  top: 16px;
}

//show スローガン
.community-motto-index-number {
  line-height: 32px;
  text-align: center;
}

//show スローガン
.community-motto-box-content {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

//show スローガン
.community-motto-box-content-letters {
  font-weight: bold;
  font-size: 120%;
}

//show ミーティング
.next-meeting, .meeting-in-progress {
  text-align: center;
}

//show ミーティング
.meeting-index {
  background-color: #f47842;
  height: 24px;
  border-radius: 8px 8px 0 0;
}

//show ミーティング
.meeting-index-letter {
  color: #fff;
  line-height: 24px; /*meeting-indexのheightに合わせる */
}

//show ミーティング
.meeting-content {
  background-color: rgba(244,120,66,0.2);
  margin: 8px;
  padding-bottom:8px;
  border-radius: 8px;
}

//show ミーティング
.meeting-pre-edit {
  width: fit-content;
  margin-left: auto;
}

//show ミーティング
.meeting-name {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #f47842;
}

//show ミーティング
.meeting-count-timer {
  font-size: 160%;
  font-weight: bold;
}

//show ミーティング
.meeting-date {
  font-size: 80%;
}

//show ミーティング
.meeting-cta-btn {
  display: block;
  margin: 16px 8px 0 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  color: #f47842;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #f47842;
}

//show ミーティング
.meeting-cta-btn:hover {
color: #343842;
}

.late-activities-title {
  background-color: #ffd139;
  border-radius: 8px 8px 0 0;
  text-align: center;
  height: 24px;
  line-header: 24px;
}

//show レコード
.late-activities-cta {
  margin-right: 8px;
  text-align: right;
}

//show レコード
.ten-days-record {
  height: 400px;
  overflow: hidden;
  overflow: scroll;
}

//コミュニティ編集
.community-background-edit {
  width: 320px;
  height: 200px;
}

//コミュニティ編集
.community-background-edit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}