// Place all the styles related to the Communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//_info
.community-info-contents {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  line-height: 32px;
}

//_info
.community-navigation-items {
  display: flex;
  white-space: nowrap; //自動改行させない
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-left: 0px;
}

//_info
.community-navigation-item {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

//_info
.community-navigation-item:hover {
  background-color: rgba(68, 196, 138, 0.5);
}

//_info
.community-basic-info {
  display: flex;
}

//_info
.community-basic-info-name-title {
  font-size: 80%;
  white-space: nowrap; //自動改行させない
}

//_info
.community-basic-info-name-content {
  font-weight: bold;
  color: #44c48a;
  margin-left: 4px;
  max-width: 100px;
  white-space: nowrap; //自動改行させない
  overflow-x: scroll;
}

//_info
.community-basic-info-detail-cta {
  color: #44c48a;
  margin-left: 4px;
  margin-right: 8px;
}

.community-info-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // 中央寄せのため、自身の50%ずつ移動 //
  background-color: rgba(52, 56, 66, 0.97);
  padding: 16px 16px 4px 16px;
  border-radius: 16px;
  width: 40%;
  height: fit-content;
}

.community-info-window-section {
  margin-bottom: 16px;
}

.community-info-window-section-title {
  height: 16px;
  line-height: 16px;
  font-weight: bold;
  font-size: 80%;
}

.community-info-window-section-content-small {
  padding: 4px 0;
  width: calc(100% - 8px);
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
  overflow-x: scroll;
  color:#ffd139;
}

.community-info-window-section-content-large {
  padding: 4px 0;
  width: calc(100% - 8px);
  height: fit-content;
  max-height: 64px;
  line-height: 16px;
  overflow-y: scroll;
  color:#ffd139;
}

.community-info-window-submittion {
  position: relative;
  bottom: 8px;
  text-align: right;
}

.community-info-window-submittion-cta {
  display: inline-block;
  width: fit-content;
  height: 24px;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  color: #343842;
  background-color: #ffd139;
  border-style: none; /*デフォルトの枠線デザインを消去*/
  border-radius: 16px;
  font-weight: bold;
}

.community-info-window-submittion-cta:hover {
  font-weight: bold;
  color: #343842;
  background-color: #f47842;
}

.community-dashboard-wrapper-wrapper {
  height: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
}

//info除く全体
.community-dashboard-wrapper {
  margin: auto;
  width: 1000px;
}

//上部
.community-dashboard-top {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  //border-bottom: 1px solid rgba(68, 196, 138, 0.3);
}

.community-dashboard-middle {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 308px;
}

//下部
.community-dashboard-bottom {
  box-sizing: border-box;
  display: flex;
}

//コメント
.dashboard-quote {
  background-color: #F6F6FF;
  color: #343842;
  padding: 8px 24px;
  border-radius: 16px;
  height: 32px;
  display: grid;
  place-items: center start;
}

//ゴール全体
.dashboard-goal {
  height: 258px;
  width: calc(100% * 2/3);
  text-align: center;
  background-color: rgba(32, 35, 43, 0.75);
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  border: 1px solid #343842;
}

//数値全体
.dashboard-figures {
  width: 88px;
  min-width: 104px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

//ミーティング全体
.dashboard-meetings {
  width: calc(100% * 1/3);
  display: flex;
  flex-direction: column;
  min-width: 176px;
  margin: 4px;
}

//モットー全体
.dashboard-mottos {
  background-color: rgba(32, 35, 43, 0.75);
  border-radius: 16px;
  width: 480px;
  min-width: 176px;
  height: 312px;
  margin: 8px;
}

//履歴全体
.dashboard-late-activities {
  background-color: rgba(32, 35, 43, 0.75);
  border-radius: 16px;
  width: 400px;
  min-width: 176px;
  height: 312px;
  margin: 8px;
}

//コメント
.dashboard-quote-content {
  font-weight: bold;
}

//コメント
.dashboard-quote-detail {
  font-size: 80%;
}

//コメント
.dashboard-quote-person {
  margin-right: 8px;
}

//数値
.dashboard-figure {
  background-color: rgba(32, 35, 43, 0.75);
  text-align: center;
  border-radius: 16px;
  margin: 4px;
}

//数値
.dashboard-figure-title {
  height: 24px;
  line-height: 24px;
  background-color: #07868c;
  border-radius: 16px 16px 0 0;
  font-weight: bold;
}

//数値
.dashboard-figure-content {
  font-size: 150%;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
}

//メンバー
.community-user-list {
  height: calc(100% - 48px);
  overflow-y: scroll;
}

//メンバー
.community-users-title {
  background-color: #44c48a;
  border-radius: 8px 8px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #343842;
  font-weight: bold;
}

//メンバー
.community-users-cta {
  text-align: right;
  position: relative;
  top: 4px;
  right: 4px;
}

//メンバー
.community-user {
  margin: 16px;
  text-align: center;
}

//メンバー
.profile_image {
  border-radius: 50%;
}

//ゴール
.dashboard-goal-edit {
  text-align: right;
  position: relative;
  left: 8px;
  bottom: 8px;
  height: 0;
}

//ゴール
.dashboard-goal-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #343842;
  color: #343842;
  width: fit-content;
}

//ゴール
.dashboard-goal-new-cta:hover {
  background-color: #343842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//ゴール【未使用】
.goal-title {
  background-color: #343842;
  border-radius: 8px 8px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.dashboard-goal-contents-wrapper {
  height: 254px;
  width: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard-goal-contents {
  width: 100%;
}

//ゴール
.dashboard-goal-subject {
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 24px;
}

//ゴール
.till-community-goal {
  color: #ffd139;
  margin-top: 8px;
}

.dashboard-goal-deadline {
  width: 100%;
}

//ゴール
.goal-deadline-timer {
  font-size: 200%;
  font-weight: bold;
  color: #ffd139;
}

//ゴール
div#goalCountTimer span {
  font-size: 50%; /* goal-deadline-timerから100%に戻す */
  font-weight: bold;
  margin-right: 8px;
}

.goal-timeline {
  position:relative;
  width:400px;
  height:8px;
  border-radius: 8px;
  background-color: #848A99;
  margin: 8px auto;
}

//ゴール
.dashboard-goal-alt-view-wrapper {
  height: 240px;
  display: flex;
	justify-content: center;
	align-items: center;
}

//スローガン
.dashboard-mottos-title {
  background-color: #44c48a;
  color: #343842;
  border-radius: 16px 16px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}

//スローガン
.dashboard-mottos-edit {
  text-align: right;
  position: relative;
  bottom: 20px;
  right: 4px;
  height: 0;
  color: #343842;
}

//スローガン
.dashboard-motto-list {
  margin-top: 16px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

//スローガン
.dashboard-each-motto {
  text-align: center;
  padding: 8px;
}

//スローガン
.dashboard-each-motto-index {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  background-color: #fff;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  line-height: 16px;
  color: #343842;
  font-weight: bold;
}

//スローガン
.dashboard-each-motto-content {
  font-weight: bold;
  font-size: 120%;
  margin-left: 8px;
  margin-right: 8px;
}

//スローガン
.dashboard-mottos-alt-view-wrapper {
  height: calc(100% - 56px);
  display: flex;
	justify-content: center;
	align-items: center;
}

//スローガン
.dashboard-motto-new {
  text-align: center;
}

//スローガン
.dashboard-motto-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #44c48a;
  color: #44c48a;
}

//スローガン
.dashboard-motto-new-cta:hover {
  background-color: #44c48a;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//ミーティング
.dashboard-next-meeting,
.dashboard-meeting-in-progress {
  text-align: center;
}

//ミーティング
.dashboard-meeting-index {
  background-color: #f47842;
  height: 24px;
  border-radius: 16px 16px 0 0;
  color: #343842;
  font-weight: bold;
  line-height: 24px;
}

//ミーティング
.dashboard-meeting-content {
  background-color: rgba(32, 35, 43, 0.75);
  margin: 4px;
  padding-bottom: 8px;
  border-radius: 16px;
}

//ミーティング
.dashboard-meeting-pre-edit {
  text-align: right;
  position: relative;
  top: 4px;
  right: 4px;
  height: 0;
}

//ミーティング
.dashboard-meeting-name {
  font-size: 120%;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #f47842;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  overflow-x: scroll;
}

//ミーティング
.dashboard-meeting-count-timer {
  font-size: 160%;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
}

//ミーティング
.dashboard-meeting-detail {
  font-size: 80%;
}

//ミーティング
.dashboard-meeting-date, .dashboard-meeting-place {
  height: 16px;
  line-height: 16px;
}

//ミーティング
.dashboard-meeting-start-cta,
.dashboard-back-to-meeting-cta {
  display: inline-block;
  margin: 8px 8px 0 8px;
  padding: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  color: #f47842;
  height: 16px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #f47842;
}

//ミーティング
.dashboard-meeting-start-cta:hover,
.dashboard-back-to-meeting-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//ミーティング
.dashboard-next-meeting-alt-view-wrapper {
  background-color: rgba(32, 35, 43, 0.75);
  height: 178px;
  margin: 4px;
  border-radius: 16px;
  display: flex;
	justify-content: center;
	align-items: center;
}

//ミーティング
.dashboard-meeting-new {
  text-align: center;
}

//ミーティング
.dashboard-meeting-new-cta {
  display: inline-block;
  height: 20px;
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f47842;
  color: #f47842;
}

//ミーティング
.dashboard-meeting-new-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//ミーティング
.dashboard-meeting-in-progress-alt-view-wrapper {
  background-color: rgba(32, 35, 43, 0.75);
  height: 106px;
  margin: 4px;
  border-radius: 16px;
  display: flex;
	justify-content: center;
	align-items: center;
}

//レコード
.late-activities-title {
  background-color: #ffd139;
  border-radius: 16px 16px 0 0;
  text-align: center;
  height: 24px;
  line-height: 24px;
  color: #343842;
  font-weight: bold;
}

//レコード
.late-activities-cta {
  text-align: right;
  position: relative;
  bottom: 20px;
  right: 4px;
  height: 0;
  color: #343842;

}

//レコード
.thirtydays-each-record {
  background-color: rgba(52, 56, 66, 0.5);
  margin: 8px;
  border-radius: 8px;
  width: fit-content;
}

//レコード
.dashboard-ten-days-record {
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

//レコード
.dashboard-record-content {
  padding: 8px;
}

//レコード
.dashboard-all-records-alt-view {
  height: calc(100% - 32px);
  display: flex;
	justify-content: center;
	align-items: center;
}

//コミュニティ編集
.community-background-edit {
  width: 320px;
  height: 200px;
}

//コミュニティ編集
.community-background-edit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
