// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active-goal {
  width: fit-content;
  margin: 16px;
  padding: 16px;
  background-color: #ffd139;
  border-radius: 16px;
  color: #343842;
}

.active-goal-edit {
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

.active-goal-content {
  height: 40px;
  font-weight: bold;
  margin: 0 16px 8px 16px;
  border-bottom: 1px dotted;
  display: flex;
  align-items: center;
}

.active-goal-deadline {
  margin: 2px 16px;
  font-size: 80%;
}

.active-goal-creator {
  margin: 2px 16px 16px 16px;
  font-size: 80%;
}

.active-goal-creator-title, .active-goal-deadline-letter {
  margin-right: 4px;
}

.active-goal-deadline-time, .active-goal-creator-name {
  background-color: #f47842;
  padding: 2px;
  color: #ffffff;
}

.active-goal-achievement-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffd139;
  color: #ffd139;
  font-weight: bold;
  text-align: center;
}

.active-goal-achievement-cta:hover {
  background-color: #ffd139;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.past-goals {
  width: fit-content;
  margin: 16px;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.past-goals-header {
  display: flex;
}