// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goals-all {
  display: flex;
  height: 100%;
  width: 100%;
}

.goals-left {
  width: calc(100% - 240px);
  height: 100%;
}

.goals-right {
  width: 240px;
  height: 100%;
}
.active-goal-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.active-goal {
  width: fit-content;
  max-width: calc(100% - 32px);
  margin: 16px auto 16px auto;
  padding: 16px;
  background-color: #ffd139;
  border-radius: 16px;
  color: #343842;
}

.active-goal-edit {
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

.active-goal-content {
  width: calc(100% - 32px);
  font-weight: bold;
  margin: 0 16px 8px 16px;
  padding-bottom: 8px;
  border-bottom: 1px dotted;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
}

.active-goal-deadline {
  height: 16px;
  margin: 2px 16px;
  font-size: 80%;
}

.active-goal-creator {
  height: 16px;
  margin: 2px 16px 16px 16px;
  font-size: 80%;
}

.active-goal-creator-title, .active-goal-deadline-letter {
  margin-right: 4px;
}

.active-goal-deadline-time, .active-goal-creator-name {
  background-color: #f47842;
  padding: 2px;
  color: #ffffff;
}

.active-goal-deadline-time-expired {
  color:#f47842;
  font-weight: bold;
}

.active-goal-achievement {
  display: flex;
  justify-content: center;
}

.active-goal-achievement-true-cta,
.active-goal-achievement-false-cta {
  display: block;
  height: 20px;
  width: 80px;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffd139;
  color: #ffd139;
  font-weight: bold;
  text-align: center;
}

.active-goal-achievement-true-cta:hover,
.active-goal-achievement-false-cta:hover {
  background-color: #ffd139;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.goal-new {
  padding-bottom: 16px;
  text-align: center;
}

.active-goal-alt-view-wrapper {
  height: 137px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.past-goals {
  height: calc(100% - 204px);
  width: calc(100% - 32px);
  margin: 16px;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.past-goals-header {
  display: flex;
}

.all-past-goals-wrapper {
  height: calc(100% - 32px);
  width: 100%;
  overflow: scroll;
}

.all-past-goals {
  display:flex;
  flex-direction: column;
  padding: 8px;
}

.each-past-goal {
  margin: 8px;
  padding: 16px;
  background-color: #d6dbe6;
  color: #343842;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.each-past-goal-content {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 8px;
}

.each-past-goal-deadline {
  font-size: 80%;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
}

.each-past-goal-deadline-title {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
  width: 44px;
  padding: 0 2px;
  background-color: #848A99;
  color: #ffffff;
  text-align: center;
}

.each-past-goal-deadline-subject {
  display: inline-block;
  line-height: 16px;
}

.each-past-goal-right {
  display: flex;
  align-items: center;
}

.each-past-goal-achievement-true {
  display: inline-block;
  background-color: #343842;
  color: #ffffff;
  width: 80px;
  height: 16px;
  line-height: 16px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.each-past-goal-achievement-false {
  display: inline-block;
  background-color: #ffffff;
  color:#343842;
  width: 80px;
  height: 16px;
  line-height: 16px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

@media screen and ( max-width:999px ) {
  
  .goals-left {
    width: calc(100% - 120px);
    overflow-y: scroll;
  }

  .goals-right {
    width: 120px;
  }

  .active-goal-content {
    overflow-x: inherit;
    white-space: normal;
  }

  .active-goal-deadline {
    height: auto;
  }

  .active-goal-achievement {
    flex-wrap: wrap;
  }

  .each-past-goal {
    flex-wrap: wrap;
  }

  .each-past-goal-achievement-true,
  .each-past-goal-achievement-false {
    margin-top: 8px;
  }
}
