// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.owner_sign {
  color: #ff5757;
}

.my-communities {
  background-color: #321e1e;
  border: 3px solid #ffffff;
}

.requesting-community, .communities-search {
  background-color: #4b2f2f;
}

.my-communities-header {
  display: flex;
}

.new_community {
  margin-left: auto;
  border-bottom: dotted 1px;
}

.search-btn {
  color: #ffffff;
  background-color: #ff5757;
  border-style: none; /*デフォルトの枠線デザインを消去*/
  border-radius: 15px;
}

.search-btn:hover{
  color: #ffffff;
  background-color: #ffd139;
}

.home-title {
  padding-top: 24px;
  margin-bottom: 0;
}

.home-subtitle {
  margin-top: 0;
  margin-bottom: 40px;
}