// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.owner_sign {
  color: #00c2cb;
}

.my-communities {
  background-color: #321e1e;
  border: 3px solid #4b2f2f;
}

.requesting-community, .communities-search {
  background-color: #4b2f2f;
}

.my-communities-header {
  display: flex;
}

.edit_community {
  margin-left: auto;
}