// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.owner_sign {
  color: #44c48a;
}

.my-communities {
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.requesting-community, .communities-search {
  border-radius: 16px;
  background-color: rgba(32,35,43, 0.5);
}

.my-communities-header {
  display: flex;
}

.new_community {
  margin-left: auto;
  border-bottom: dotted 1px;
}

.search-btn {
  color: #ffffff;
  background-color: rgba(32,35,43, 0.5);
  border-style: none; /*デフォルトの枠線デザインを消去*/
  border-radius: 15px;
}

.search-btn:hover{
  color: #ffffff;
  background-color: #ffd139;
}

.home-title {
  padding-top: 24px;
  margin-bottom: 0;
}

.home-subtitle {
  margin-top: 8px;
  margin-bottom: 40px;
}