// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.past-meeting-content {
  background-color: rgba(68, 196, 138, 0.5);
  margin: 32px;
  padding: 16px;
  border-radius: 16px;
}