// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meetings-all {
  display: flex;
  height: 100%;
  width: 100%;
}

.meetings-left {
  width: calc(100% - 240px);
  height: 100%;
}

.meetings-right {
  width: 240px;
  height: 100%;
}

//一覧(index)
.meetings-header {
  display: flex;
  justify-content: space-between;
}

.active-meetings {
  width: 100%;
}

//一覧(index)
.all-active-meetings {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  overflow-x: scroll;
}

//一覧(index)
.meeting-pre-edit {
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

//一覧(index)
.next-meeting, .meeting-in-progress {
  text-align: center;
  width: 320px;
}

//一覧(index)
.next-meeting-content {
  background-color: #f47842;
  margin: 8px;
  padding: 16px;
  border-radius: 18px;
}

.meeting-name {
  font-weight: bold;
  color: #343842;
  height: 24px;
  line-height: 24px;
  width: 240px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: scroll;
}

.meeting-count-timer {
  font-weight: bold;
  height: 20px;
}

//一覧(index)
.meeting-detail {
  font-size: 80%;
  margin-bottom: 16px;
  white-space: nowrap;
}

.meeting-start {
  white-space: nowrap;
}

//一覧(index)
.meeting-start-cta {
  display: inline-block;
  height: 20px;
  padding: 8px;
  background-color: #fff;
  color: #f47842;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #f47842;
  white-space: nowarp;
}

.next-meeting-alt-view-wrapper {
  position: relative;
  background-color: #f47842;
  height: 128px;
  padding: 16px;
  width: 272px;
  min-width: 128px;
  text-align: center;
  border-radius: 16px;
  margin: 8px;
}

.next-meeting-alt-view {
  height: 90px;
  display: flex;
  align-items: center;
}

.meeting-new-cta {
  display: inline-block;
  height: 20px;
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f47842;
  color: #f47842;
  white-space: nowrap;
}

.meeting-new-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//一覧(index)
.meeting-in-progress-content {
  background-color: #ffd139;
  margin: 8px;
  padding: 16px;
  border-radius: 18px;
}

.meeting-in-progress-text {
  padding: 8px 0;
  height: 50px;
  line-height: 50px;
  color: #343842;
  font-size: 80%;
}

//一覧(index)
.meeting-start-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//一覧(index)
.back-to-meeting-cta {
  display: inline-block;
  height: 20px;
  padding: 8px;
  background-color: #fff;
  color: #ffd139;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #ffd139;
  white-space: nowrap;
}

//一覧(index)
.back-to-meeting-cta:hover {
  background-color: #ffd139;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//一覧(index)
.past-meetings {
  height: calc(100% - 208px);
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

//一覧(index)
.past-meetings-header {
  display: flex;
  justify-content: space-between;
}


.all-past-meetings-wrapper {
  height: calc(100% - 32px);
  overflow: scroll;
}
//一覧(index)
.all-past-meetings {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

//一覧(index)
.each-past-meeting {
  background-color: #d6dbe6;
  color: #343842;
  margin: 8px;
  padding: 16px;
  border-radius: 16px;
}

//一覧(index)
.each-past-meeting-top {
  display: flex;
}

.each-past-meeting-name {
  display: inline-block;
  font-weight: bold;
}

.each-past-meeting-date {
  display: inline-block;
  margin-left: 16px;
  font-size: 80%;
  line-height: 20px;
}

//一覧(index)
.each-past-meeting-detail {
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
}

.each-past-meeting-bottom {
  background-color: #ffffff;
  margin-top: 8px;
}

.each-past-meeting-section {
  display: flex;
  padding: 8px;
}

.each-past-meeting-content-title {
  background-color: #343842;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 80px;
  min-width: 80px;
  color: #ffffff;
  font-size: 80%;
}

.each-past-meeting-content-subject {
  margin: 0 8px;
}

.each-past-meeting-content-subject-alt-text {
  line-height: 20px;
  font-size: 80%;
  color: #848A99;
}

//議事録(edit)
.meeting-info {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.meeting-info-section {
  padding-top: 16px;
  padding-bottom: 16px;
}

.meeting-info-label {
  background-color: #343842;
  font-size: 80%;
  width: 80px;
  min-width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
}

.meeting-info-section:not(:last-child) {
  border-bottom: 1px dotted #ffffff;
}

.meeting-info-content {
  margin-top: 8px;
}

.meeting-record {
  width: 100%;
  display: flex;
}

.meeting-record-left {
  max-width: 30%;
}

.meeting-record-right {
  max-width: 70%;
}

@media screen and ( max-width:999px ) {
  
  .meetings-left {
    width: 100%;
    overflow-y: scroll;
  }

  .meetings-right {
    display: none;
  }

  .all-active-meetings {
    width: calc(100% - 16px);
    flex-wrap: wrap;
  }

  .next-meeting,
  .meeting-in-progress {
    width: 320px;
  }

  .meeting-name {
    width: calc(100% - 32px);
  }

  .meeting-record {
    flex-direction: column;
  }

  .meeting-record-left {
    max-width: inherit;
  }

  .meeting-info {
    flex-direction: row;
  }

  .meeting-info-section {
    min-width: 100px;
  }

  .meeting-info-label {
    margin-left: auto;
    margin-right: auto;
  }

  .meeting-info-section:not(:last-child) {
    border-bottom: inherit;
    border-right: 1px dotted #ffffff;
    padding-right: 16px;
  }

  .meeting-info-section:not(:first-child) {
    padding-left: 16px;
  }

  .each-past-meeting-top {
  }

  .each-past-meeting-date {
    margin-left: 0;
  }

  .each-past-meeting-section {
    flex-direction: column;
  }

  .meetings-right {
    width: 120px;
  }
}
