// Place all the styles related to the Mottoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mottos-all {
  display: flex;
  height: 100%;
  width: 100%;
}

.mottos-left {
  width: 74%;
  height: 100%;
}

.mottos-right {
  width: 26%;
  height: 100%;
}

.mottos {
  height: calc(100% - 32px);
  margin: 16px;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.mottos-header {
  display: flex;
  justify-content: space-between;
}

.all-mottos-wrapper {
  height: calc(100% - 32px);
  overflow-x: scroll;
}

.all-mottos {
  display: flex;
  flex-wrap: wrap;
}

.each-motto {
  width: 280px;
  margin: 16px;
  padding: 16px;
  background-color: #44c48a;
  border-radius: 16px;
}

.each-motto-edit {
  color: #fff;
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

.each-motto-content {
  height: 40px;
  font-weight: bold;
  margin: 0 16px 8px 16px;
  border-bottom: 1px dotted;
  display: flex;
  overflow: scroll;
}

.each-motto-creator {
  margin: 0 16px;
  font-size: 80%;
}

.each-motto-creator-title {
  margin-right: 4px;
}

.each-motto-creator-name {
  background-color: #07868c;
  padding: 2px;
}

.motto-new {
  padding-bottom: 32px;
  text-align: center;
}