// Place all the styles related to the privileges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.privileges-penalties-all {
  display: flex;
  height: 100%;
  width: 100%;
}

.privileges-penalties-left {
  width: calc(100% - 240px);
  height: 100%;
}

.privileges-penalties-right {
  width: 240px;
  height: 100%;
}

.privileges, .penalties {
  height: calc((100% - 48px) / 2);
  margin: 16px;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.privileges-header, .penalties-header {
  display: flex;
  justify-content: space-between;
}

.all-privileges-wrapper, .all-penalties-wrapper {
  height: calc(100% - 32px);
  overflow-y: scroll;
}

.all-privileges, .all-penalties {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.each-privilege {
  /*width: 280px;*/
  height: fit-content;
  margin: 4px;
  padding: 16px;
  background-color: #ffd139;
  border-radius: 16px;
  color: #343842;
}

.each-penalty {
  /*width: 280px;*/
  height: fit-content;
  margin: 4px;
  padding: 16px;
  background-color: #44c48a;
  border-radius: 16px;
  color: #343842;
}

.each-privilege-edit, .each-penalty-edit {
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

.each-privilege-content,
.each-penalty-content {
  font-weight: bold;
  margin: 0 16px;
  padding-bottom: 8px;
  border-bottom: 1px dotted;
  display: flex;
  overflow: scroll;
}

.each-privilege-point,
.each-penalty-point {
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
  margin: 8px 16px 16px 16px;
}

.point-letter {
  font-size: 62.5%;
}

.each-privilege-execute-can-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #ffd139;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-privilege-execute-can-cta:hover {
  background-color: #ffd139;
  border: 1px solid #343842;
  color: #343842;
}

.each-penalty-execute-can-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #44c48a;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-penalty-execute-can-cta:hover {
  background-color: #44c48a;
  border: 1px solid #343842;
  color: #343842;
}

.each-privilege-execute-cannot-cta,
.each-penalty-execute-cannot-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  text-align: center; //テキスト要素を左右中央寄せ
}

.privilege-new, .penalty-new {
  padding-bottom: 32px;
  text-align: center;
}

.privilege-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f47842;
  color: #f47842;
  width: fit-content;
}

.privilege-new-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.penalty-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #07868c;
  color: #07868c;
  width: fit-content;
}

.penalty-new-cta:hover {
  background-color: #07868c;
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media screen and ( max-width:999px ) {
  
  .privileges-penalties-left {
    width: 100%;
  }

  .privileges-penalties-right {
    display: none;
  }

}
