// Place all the styles related to the privileges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.privileges-wrapper, .penalties-wrapper {
  margin: 16px;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.privileges-header, .penalties-header {
  display: flex;
  justify-content: space-between;
}

.all-privileges-wrapper, .all-penalties-wrapper {
  display: flex;
  overflow-x: scroll;
}

.all-privileges, .all-penalties {
  display: flex;
}

.each-privilege {
  width: 280px;
  margin: 16px;
  padding: 16px;
  background-color: #ffd139;
  border-radius: 16px;
  color: #343842;
}

.each-penalty {
  width: 280px;
  margin: 16px;
  padding: 16px;
  background-color: #44c48a;
  border-radius: 16px;
  color: #343842;
}

.each-privilege-edit, .each-penalty-edit {
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

.each-privilege-content, .each-penalty-content {
  height: 40px;
  font-weight: bold;
  margin: 0 16px;
  border-bottom: 1px dotted;
  display: flex;
  overflow: scroll;
}

.each-privilege-point, .each-penalty-point {
  font-size: 120%;
  font-weight: bold;
  margin: 0 16px;
}

.point-letter {
  font-size: 62.5%;
}

.privilege-new, .penalty-new {
  padding-bottom: 32px;
  text-align: center;
}

.privilege-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f47842;
  color: #f47842;
  width: fit-content;
}

.privilege-new-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.penalty-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #07868c;
  color: #07868c;
  width: fit-content;
}

.penalty-new-cta:hover {
  background-color: #07868c;
  border: 1px solid #ffffff;
  color: #ffffff;
}