// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positive-rules-wrapper, .negative-rules-wrapper {
  margin: 16px;
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.positive-rules-title {
  background-color: #f47842;
  border-radius: 16px 16px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #343842;
  font-weight: bold;
}

.negative-rules-title {
  background-color: #07868c;
  border-radius: 16px 16px 0 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #343842;
  font-weight: bold;
}

.rule-new {
  height: 8px;
  color: #fff;
  text-align: right;
  position: relative;
  top: 4px;
  right: 4px;
}

.all-positive-rules-wrapper, .all-negative-rules-wrapper {
  display: flex;
  overflow-x: scroll;
}

.all-positive-rules, .all-negative-rules {
  display: flex;
}

.each-rule {
  width: 280px;
  margin: 16px;
  background-color: #F6F6FF;
  border-radius: 16px;
  color: #343842;
}

.each-rule-edit {
  text-align: right;
  position: relative;
  top: 4px;
  right: 4px;
}

.each-rule-content {
  height: 48px;
  font-size: 120%;
  font-weight: bold;
  margin: 8px 32px;
  display: flex;
  overflow: scroll;
}

.each-positive-rule-point {
  font-size: 160%;
  font-weight: bold;
  margin: 8px 32px;
  color: #f47842;
}

.each-negative-rule-point {
  font-size: 160%;
  font-weight: bold;
  margin: 8px 32px;
  color: #07868c;
}

.each-rule-member {
  margin: 2px 32px 16px 32px;
  font-size: 80%;
}

.each-rule-member-title {
  margin-right: 4px;
}

.each-positive-rule-member-name {
  background-color: #ffd139;
  padding: 2px;
  color: #343842;
}

.each-negative-rule-member-name {
  background-color: #44c48a;
  padding: 2px;
  color: #343842;
}

.each-rule-genre-name {
  background-color: #848A99 ;
  padding: 2px;
}

.point-letter {
  font-size: 62.5%; /*.community-rule-box-pointから逆算して100%に戻す */
}

.each-positive-rule-execute-cta {
  display: block;
  margin: 0 16px 16px 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #f47842;
  color: #f47842;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-positive-rule-execute-cta:hover {
  background-color: #f47842;
  color: #ffffff;
}

.each-negative-rule-execute-cta {
  display: block;
  margin: 0 16px 16px 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #07868c;
  color: #07868c;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-negative-rule-execute-cta:hover {
  background-color: #07868c;
  color: #ffffff;
}