// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rules-all {
  display: flex;
  height: 100%;
}

.rules-left {
  width: calc(100% - 240px);
  height: 100%;
}

.rules-right {
  width: 240px;
  height: 100%;
}

.rules-sort {
  margin-top: 16px;
  width: fit-content;
  margin-left: auto;
  margin-right: 16px;
}

.rules-sort-window {
  width: 200px;
}

.positive-rules-wrapper, .negative-rules-wrapper {
  margin: 16px;
  height: calc((100% - 88px) / 2);
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.positive-rules-header, .negative-rules-header {
  display: flex;
  justify-content: space-between;
}

.all-positive-rules-wrapper, .all-negative-rules-wrapper {
  height: calc(100% - 32px);
  overflow-y: scroll;
}

.all-positive-rules, .all-negative-rules {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.each-positive-rule {
  /*width: 280px;*/
  height: fit-content;
  margin: 4px;
  padding: 16px;
  background-color: #f47842;
  border-radius: 16px;
  color: #fff;
}

.each-negative-rule {
  /*width: 280px;*/
  height: fit-content;
  margin: 4px;
  padding: 16px;
  background-color: #07868c;
  border-radius: 16px;
  color: #fff;
}

.each-rule-edit {
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

.each-rule-content,
.each-executed-rule-subject,
.each-executed-penalty-subject {
  font-weight: bold;
  color: #343842;
  margin: 0 16px;
  padding-bottom: 8px;
  display: flex;
  overflow: scroll;
}

.each-positive-rule-point,
.each-negative-rule-point {
  height: 24px;
  font-size: 120%;
  font-weight: bold;
  margin: 0 16px;
  padding-top: 8px;
  color: #fff;
  border-top: 1px dotted;
}

.each-rule-member-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.each-rule-member {
  margin: 0px 16px 16px 16px;
  font-size: 80%;
  display: flex;
  flex-wrap: wrap;
}

.each-rule-member-title {
  margin-right: 4px;
  white-space: nowrap;
  width: 60px;
}

.each-positive-rule-member-name {
  background-color: #ffd139;
  padding: 2px;
  color: #343842;
}

.each-negative-rule-member-name {
  background-color: #44c48a;
  padding: 2px;
  color: #343842;
}

.each-rule-genre-name {
  background-color: #848A99 ;
  padding: 2px;
}

.point-letter {
  font-size: 62.5%; /*.community-rule-box-pointから逆算して100%に戻す */
  white-space: nowrap;
}

.each-positive-rule-execute-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid #f47842;
  border-radius: 8px;
  color: #f47842;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-positive-rule-execute-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.each-negative-rule-execute-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #07868c;
  color: #07868c;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-negative-rule-execute-cta:hover {
  background-color: #07868c;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.positive-rule-new, .negative-rule-new {
  padding-bottom: 32px;
  text-align: center;
}

.positive-rule-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f47842;
  color: #f47842;
  width: fit-content;
}

.positive-rule-new-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.negative-rule-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #07868c;
  color: #07868c;
  width: fit-content;
}

.negative-rule-new-cta:hover {
  background-color: #07868c;
  border: 1px solid #ffffff;
  color: #ffffff;
}

//receive
.executed-rules,
.executed-penalties {
  height: calc((100% - 104px) / 8 * 3);
  margin: 16px;
  border-radius: 16px;
  background-color: rgba(32,35,43, 0.5);
}

.join-requests {
  height: calc((100% - 104px) / 8 * 2);
  margin: 16px;
  border-radius: 16px;
  background-color: rgba(32,35,43, 0.5);
}

.executed-rules-header,
.executed-penalties-header,
.join-requests-header {
  display: flex;
  justify-content: space-between;
}

.all-executed-rules-wrapper,
.all-executed-penalties-wrapper,
.all-join-requests-wrapper {
  height: calc(100% - 32px);
  overflow-y: scroll;
}


.all-executed-rules,
.all-executed-penalties,
.all-join-requests {
  display: flex;
  flex-wrap: wrap;
}

.each-executed-rule {
  width: 312px;
  background-color: #44c48a;
  margin: 16px;
  border-radius: 16px;
  color: #343842;
}

.each-executed-penalty {
  width: 312px;
  background-color: #ffd139;
  margin: 16px;
  border-radius: 16px;
  color: #343842;
}

.each-join-request {
  width: 312px;
  background-color: #848A99;
  margin: 16px;
  border-radius: 16px;
  color: #343842;
}

.each-executed-rule-background,
.each-executed-penalty-background,
.each-join-request-background {
  position: relative;
  width: 312px;
  height: 32px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  opacity: 40%;
}

.each-executed-rule-community,
.each-executed-penalty-community,
.each-join-request-community {
  position: relative;
  bottom: 30px;
  text-align: center;
  font-weight: bold;
  height: 0;
  color: #ffffff;
}

.each-executed-rule-point,
.each-executed-penalty-point {
  font-size: 120%;
  font-weight: bold;
  margin: 0 16px 8px 16px;
}

.each-executed-rule-executing-user,
.each-executed-rule-date,
.each-executed-rule-note,
.each-executed-penalty-executing-user,
.each-executed-penalty-date,
.each-executed-penalty-note,
.each-join-request-user,
.each-join-request-date {
  margin: 0px 16px 2px 16px;
  font-size: 80%;
  height: 16px;
  line-height: 16px;
  display: flex;
}

.each-executed-rule-executing-user-title,
.each-executed-rule-date-title,
.each-executed-rule-note-title {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
  width: 44px;
  padding: 0 2px;
  background-color: #07868c;
  color: #ffffff;
  text-align: center;
}

.each-executed-penalty-executing-user-title,
.each-executed-penalty-date-title,
.each-executed-penalty-note-title {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
  width: 44px;
  padding: 0 2px;
  background-color: #f47842;
  color: #ffffff;
  text-align: center;
}

.each-join-request-user-title,
.each-join-request-date-title {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
  width: 44px;
  padding: 0 2px;
  background-color: #343842;
  color: #ffffff;
  text-align: center;
}

.each-executed-rule-executing-user-name,
.each-executed-rule-date-subject,
.each-executed-rule-note-subject,
.each-executed-penalty-executing-user-name,
.each-executed-penalty-date-subject,
.each-executed-penalty-note-subject,
.each-join-request-user-name,
.each-join-request-date-subject {
  display: inline-block;
  white-space: nowrap;
  width: 232px;
  overflow-x: scroll;
  line-height: 16px;
}

.each-executed-rule-submission,
.each-executed-penalty-submission,
.each-join-request-submission {
  text-align: center;
  padding: 8px 0;
}

.each-executed-rule-submission-cta {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #44c48a;
  color: #07868c;
  font-weight: bold;
  text-align: center;
}

.each-executed-rule-submission-cta:hover {
  background-color: #44c48a;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.each-executed-penalty-submission-cta {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffd139;
  color: #f47842;
  font-weight: bold;
  text-align: center;
}

.each-executed-penalty-submission-cta:hover {
  background-color: #ffd139;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.each-join-request-submission-cta {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #848A99;
  color: #343842;
  font-weight: bold;
  text-align: center;
}

.each-join-request-submission-cta:hover {
  background-color: #848A99;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.rule-info,
.executing-rule-info {
  margin: 16px;
}

.self-application-check-box {
  //display: none;
  margin-top: 8px;
}

@media screen and ( max-width:999px ) {
  
  .rules-left {
    width: 100%;
  }

  .rules-right {
    display: none;
  }

  .rules-sort {
    padding-left: 16px;
  }

  .rules-sort-window {
    width: 160px;
  }

  .rules-sort-done {
    margin-top: 4px;
  }

  .positive-rules-wrapper,
  .negative-rules-wrapper {
    height: calc((100% - 92px) / 2);
  }
  
}
