// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rules-all {
  display: flex;
  height: 100%;
}

.rules-left {
  width: 74%;
  height: 100%;
}

.rules-right {
  width: 26%;
  height: 100%;
}

.rules-sort {
  margin-top: 16px;
  width: fit-content;
  margin-left: auto;
  margin-right: 16px;
}

.positive-rules-wrapper, .negative-rules-wrapper {
  margin: 16px;
  height: calc((100% - 88px) / 2);
  background-color: rgba(52, 56, 66, 0.5);
  border-radius: 16px;
}

.positive-rules-header, .negative-rules-header {
  display: flex;
  justify-content: space-between;
}

.all-positive-rules-wrapper, .all-negative-rules-wrapper {
  height: calc(100% - 32px);
  overflow-y: scroll;
}

.all-positive-rules, .all-negative-rules {
  display: flex;
  flex-wrap: wrap;
}

.each-positive-rule {
  width: 280px;
  height: fit-content;
  margin: 16px;
  padding: 16px;
  background-color: #f47842;
  border-radius: 16px;
  color: #fff;
}

.each-negative-rule {
  width: 280px;
  height: fit-content;
  margin: 16px;
  padding: 16px;
  background-color: #07868c;
  border-radius: 16px;
  color: #fff;
}

.each-rule-edit {
  width: fit-content;
  margin-left: auto;
  position: relative;
  bottom: 8px;
  left: 8px;
  height: 0px;
}

.each-rule-content {
  height: 40px;
  font-weight: bold;
  margin: 0 16px;
  border-bottom: 1px dotted;
  display: flex;
  overflow: scroll;
}

.each-positive-rule-point, .each-negative-rule-point {
  font-size: 120%;
  font-weight: bold;
  margin: 0 16px;
  color: #fff;
}

.each-rule-member {
  margin: 0px 16px 16px 16px;
  font-size: 80%;
  height: 16px;
  display: flex;
}

.each-rule-member-title {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
}

.each-rule-members {
  display: inline-block;
  width: 184px;
  white-space: nowrap;
  overflow-x: scroll;
}

.each-positive-rule-member-name {
  background-color: #ffd139;
  padding: 2px;
  color: #343842;
}

.each-negative-rule-member-name {
  background-color: #44c48a;
  padding: 2px;
  color: #343842;
}

.each-rule-genre-name {
  background-color: #848A99 ;
  padding: 2px;
}

.point-letter {
  font-size: 62.5%; /*.community-rule-box-pointから逆算して100%に戻す */
}

.each-positive-rule-execute-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid #f47842;
  border-radius: 8px;
  color: #f47842;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-positive-rule-execute-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.each-negative-rule-execute-cta {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #07868c;
  color: #07868c;
  font-weight: bold;
  text-align: center; //テキスト要素を左右中央寄せ
}

.each-negative-rule-execute-cta:hover {
  background-color: #07868c;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.positive-rule-new, .negative-rule-new {
  padding-bottom: 32px;
  text-align: center;
}

.positive-rule-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f47842;
  color: #f47842;
  width: fit-content;
}

.positive-rule-new-cta:hover {
  background-color: #f47842;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.negative-rule-new-cta {
  background-color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #07868c;
  color: #07868c;
  width: fit-content;
}

.negative-rule-new-cta:hover {
  background-color: #07868c;
  border: 1px solid #ffffff;
  color: #ffffff;
}