// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.role, .others-role {
  margin: 24px 8px;
}

.role-content, .others-role-content {
  background-color: #44c48a;
  border-radius: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.role-content-letters {
  font-size: 120%;
  font-weight: bold;
  padding-right: 16px;
  border-right: 1px solid #fff;
}

//mypage
.privilege-note {
  color: #ffd139;
}